<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		                    http://www.springframework.org/schema/context 
		                    http://www.springframework.org/schema/context/spring-context-2.5.xsd
		                    http://www.springframework.org/schema/tx 
		                    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		                    http://www.springframework.org/schema/aop 
		                    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"> 
<!-- 1.自动扫描包 -->
<context:component-scan base-package="cn.xyz"></context:component-scan>
<!-- 3.配置本地化代理bean,spring整合hibernate -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="configLocation">
           <value>classpath:hibernate.cfg.xml</value>
    </property>
</bean>

<!-- 4.配置事务 -->
 <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
     <property name="sessionFactory" ref="sessionFactory"></property>
 </bean>

<!-- 5.配置事务注解 -->
<tx:annotation-driven transaction-manager="txManager"/>

<aop:config>
  <aop:pointcut expression="execution(* cn.xyz.service.)" id="perform"/>
</aop:config>
</beans>